{% extends "templates/layouts/container.html" %}

{% block content %}
  <div class="c-clock" data-module="cloker">
    <div class="container">
      <div class="row align-items-center justify-content-center c-clock__content">
        <div class="col-auto">
          <div class="c-clock__time" id="js-clock">00:00:00</div>
          <p class="c-clock__copyright">&copy; copyright ak-code 2020 | abu Ukhasyah</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block base_scripts %}
<!-- modern browsers -->
<script type="module" src="{{ base.static }}js/main.js" defer></script>

<!-- old stuff -->
<script nomodule src="{{ base.static }}nomodule/main.js" defer></script>
{% endblock base_scripts %}
