{% set title = "Time Analog Style" %}
{% extends "templates/layouts/container.html" %}

{% block content %}
<div class="c-time" data-module="time">
  <div class="c-time__analog">
    <div class="c-time__hour">
      <div class="hr" id="hr"></div>
    </div>
    <div class="c-time__min">
      <div class="mn" id="mn"></div>
    </div>
    <div class="c-time__sec">
      <div class="sc" id="sc"></div>
    </div>
  </div>

  <div class="c-time__toggle" id="toggle"></div>
</div>
{% endblock %}

{% block base_scripts %}
<!-- modern browsers -->
<script type="module" src="{{ base.static }}js/main.js" defer></script>

<!-- old stuff -->
<script nomodule src="{{ base.static }}nomodule/main.js" defer></script>
{% endblock base_scripts %}
