// Make type normal across browsers
*,
html,
body {
  font-size: $font-base-size;
  font-family: $font-fm-base;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  letter-spacing: normal;
  line-height: 1.5;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $header-margin * 1.5;
  line-height: $header-line-height;
  font-weight: 700;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: rem($header-size);
  margin-bottom: $header-margin;
  font-family: $font-fm-black;
  color: var(--base-color-black100);

  em {
    font-style: italic;
  }
}

h2 {
  font-size: rem($header-size - 8px);
  margin-bottom: $header-margin / 1.2;
  font-family: $font-fm-black;
  color: var(--base-color-black100);

  em {
    font-style: italic;
  }
}

h3 {
  font-size: rem($header-size - 12px);
  margin-bottom: $header-margin / 1.5;
  font-family: $font-fm-bold;
  color: $header-color;

  em {
    font-style: italic;
  }
}

h4 {
  font-size: rem($header-size - 20px);
  margin-bottom: $header-margin / 1.7;
  font-family: $font-fm-bold;
  color: $header-color;

  em {
    font-style: italic;
  }
}

h5 {
  font-size: rem($header-size - 24px);
  margin-bottom: $header-margin / 1.8;
  font-family: $font-fm-bold;
  color: $header-color;

  em {
    font-style: italic;
  }
}

h6 {
  font-size: rem($header-size - 30px);
  margin-bottom: $header-margin / 2;
  font-family: $font-fm-bold;
  color: $header-color;

  em {
    font-style: italic;
  }
}

// Paragraphs
p {
  margin-top: 0;
  margin-bottom: $paragraph-margin;
  font-size: rem($paragraph-size);
  line-height: $paragraph-line-height;
  color: $paragraph-color;

  &:last-of-type {
    margin-bottom: 0;
  }
}

// Misc Styles
em,
.italic {
  font-style: italic;
}

strong,
b,
.bold {
  font-family: $font-fm-bold;
}

small,
.small {
  font-size: 80%;
}

// Lists
ul,
ol {
  margin: $paragraph-margin 0 0 20px;

  li {
    margin-top: 10px;
    line-height: $paragraph-line-height;
    color: $paragraph-color;
    padding-left: 0.5rem;
  }

  ul,
  ol {
    margin-top: 0;
  }
}

ul {
  li {
    list-style: disc;
  }

  ul {
    li {
      list-style: circle;
    }
  }
}

ol {
  li {
    list-style: decimal;
  }
}

// Abbreviations and acronyms
abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

cite {
  font-style: normal;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/
.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
}

pre {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  tab-size: 4;
  overflow: auto;
  padding: 24px;
  border: 0 solid #e5e5e5;
  border-radius: 0;
  background: #f8f8f8;
  font-family: monospace;
}

:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
  font-size: 14px;
  color: #f0506e;
  white-space: nowrap;
  padding: 2px 6px;
  background: #f8f8f8;
  font-family: monospace;
}
