// -- COLOR VARIABLE
:root {
  --base-color-white100: #ffffff;
  --base-color-black100: #000000;
  --base-color-black80: #222222;
  --base-color-black70: #666666;
  --base-color-black60: #888888;
  --base-color-black50: #c4c4c4;
  --base-color-black40: #cccccc;
  --base-color-black30: #dddddd;
  --base-color-black20: #f7f7f7;
  --base-color-primary100: #52796f;
  --base-color-primary80: #84a98c;
  --base-color-blue100: #247ba0;
  --base-color-blue80: #5095b3;
  --base-color-blue60: #7cb0c6;
  --base-color-red100: #f25f5c;
  --base-color-red80: #f57f7d;
  --base-color-red60: #f79f9d;
  --base-color-green100: #70c1b3;
  --base-color-green80: #8dcdc2;
  --base-color-green60: #a9dad1;
  --base-color-yellow100: #ffe066;
  --base-color-yellow80: #ffe685;
  --base-color-yellow60: #ffeca3;
}

// -- TYPOGRAPHY VARIABLE

$font-base-size: 16px;
$font-base-line-height: 1.5em !default;
$font-scale: 1.414 !default;

$font-paths: '/static/fonts/roboto/';
$icon-paths: '/static/fonts/icons/';
$font-colection: (
  Black: 'Roboto-Black',
  Bold: 'Roboto-Bold',
  Regular: 'Roboto-Regular',
  Light: 'Roboto-Light',
  thin: 'Roboto-Thin',
  medium: 'Roboto-Medium',
) !default;

$font-fm-base: 'Roboto-Regular', sans-serir;
$font-fm-bold: 'Roboto-Bold', sans-serir;
$font-fm-black: 'Roboto-Black', sans-serir;
$font-fm-medium: 'Roboto-Medium', sans-serir;
$font-fm-light: 'Roboto-Light', sans-serir;
$font-fm-thin: 'Roboto-Thin', sans-serir;

$paragraph-color: var(--base-color-black80);
$paragraph-size: 16px;
$paragraph-line-height: $font-base-line-height;
$paragraph-margin: 16px;

$header-color: var(--base-color-black80);
$header-size: 48px;
$header-line-height: 1.25;
$header-margin: $paragraph-margin * 1.2;
