button,
a {
  &.c-button {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    min-height: rem(48px);
    min-width: rem(106px);
    padding: 6px 27px;
    user-select: none;
    line-height: 1.5;
    background-color: var(--base-color-black30);
    color: var(--base-color-black80);
    outline: none;
    border-radius: 50px;
    font-family: $font-fm-medium;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &--primary {
      background-color: var(--base-color-red100);
      color: var(--base-color-white100);
      border: 1px solid var(--base-color-red100);
    }


    &--outline {
      background-color: transparent;
      color: var(--base-color-red100);
      border: 2px solid var(--base-color-red100);

      &:hover {
        background-color: var(--base-color-red100);
        color: var(--base-color-white100);
      }
    }


    &--link {
      background-color: transparent;
      color: var(--base-color-black80);
      border: 1px solid transparent;

      &:hover {
        box-shadow: unset;
      }
    }

    &--lg {
      min-height: rem(54px);
      padding: 8px 32px;
    }

    &--block {
      width: 100%;
    }
  }
}
