.c-clock {
  position: relative;
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  animation: hue 60s infinite linear;

  &__content {
    min-height: 100vh;
    padding: 1rem 0;

    @include media-breakpoint-down(xs) {
      padding: 1rem;
    }
  }

  &__time {
    font-size: 9.5rem;
    font-family: $font-fm-thin;
    line-height: 1.5;
    color: var(--base-color-white100);
    text-align: center;


    @include media-breakpoint-down(xs) {
      font-size: 3rem;
    }
  }

  &__copyright {
    font-size: rem(20px);
    font-family: $font-fm-thin;
    line-height: 1.5;
    color: var(--base-color-white100);
    text-align: center;

    @include media-breakpoint-down(xs) {
      font-size: rem(14px);
    }
  }
}

/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}
