.o-card {
  border: 1px solid var(--base-color-black30);
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}


.o-tag {
  border-radius: 50px;
  border: 1px solid var(--base-color-black70);
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  min-width: 120px;
  text-decoration: none;
  font-size: 1rem;
  font-family: $font-fm-medium;

  &:hover {
    border: 1px solid var(--base-color-red100);
    color: var(--base-color-red100);
  }
}
