// -- section setup
.o-section {
  margin-bottom: rem(56px);

  &--sm {
    margin-bottom: 1.5rem;

    @media screen and (min-width: 769px) {
      margin-bottom: 3.5rem;
    }
  }

  &--lg {
    margin-bottom: 4rem;

    @media screen and (min-width: 769px) {
      margin-bottom: 8rem;
    }
  }

  &--less {
    margin-bottom: 0;
  }

  @media screen and (min-width: 769px) {
    margin-bottom: rem(80px);
  }
}

// -- main wrapper
.o-main-wrapper {
  margin-top: rem(55px);

  @media screen and (min-width: 769px) {
    margin-top: rem(82px);
  }
}
