<!DOCTYPE html>
<html class="no-js">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ base.title }}</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="{{ base.static }}images/icon-man.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="{{ base.static }}images/icon-man.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{ base.static }}images/icon-man.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    {% block extra_meta %}{% endblock extra_meta %}
    {% block extra_head %}{% endblock extra_head %}

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Main styles -->
    <link rel="stylesheet" href="{{ base.static }}css/main.css">
    <!-- Extra styles -->
    {% block extra_style %}{% endblock extra_style %}

  </head>

  <body>
    {% block content %}{% endblock content %}

    <!-- Main Script -->
    {% block base_scripts %}
    <script src="{{ base.static }}js/main.js" defer></script>
    {% endblock base_scripts %}
    <!-- Extra Script -->
    {% block extra_scripts %}{% endblock extra_scripts %}

    <script>
      // -- service Worker
      // if ('serviceWorker' in navigator) {
      //   window.addEventListener('load', () => {
      //     navigator.serviceWorker.register('/sw.js').then(registration => {
      //       console.log('SW registered: ', registration);
      //     }).catch(registrationError => {
      //       console.log('SW registration failed: ', registrationError);
      //     });
      //   });
      // }
    </script>
  </body>

</html>
